Source: ros-testing-sros2
Section: misc
Priority: optional
Maintainer: ROS Security Working Group <ros-security@googlegroups.com>
Build-Depends: debhelper (>= 9.0.0), python3-pytest, ros-testing-ament-copyright, ros-testing-ament-flake8, ros-testing-ament-mypy, ros-testing-ament-pep257, ros-testing-rclpy, ros-testing-ros2cli, ros-testing-test-msgs, ros-testing-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-testing-sros2
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-cryptography, python3-lxml, ros-testing-ament-index-python, ros-testing-rclpy, ros-testing-ros2cli, ros-testing-ros-workspace
Description: Command line tools for managing SROS2 keys
